<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>ByChat</title>
</head>

<body>
    <div id="main">
        <p id="userId" style="display: none;">{{ user.id }}</p>
        <span id="user" onclick="toggleSettings()" class="material-symbols-outlined">account_circle</span>
        <div id="user-settings">
            <a class="user-set" href="/account">
                <span class="material-symbols-outlined">person</span>
                {{ user.first_name }} {{ user.last_name }}
            </a>
            <a class="user-set" href="/history"><span class="material-symbols-outlined">history</span>History</a>
            <a class="user-set" href="/logout"><span class="material-symbols-outlined">logout</span>Log Out</a>
            <span id="showToken"><span class='material-symbols-outlined'>token</span>{{ token }}</span>
            <input type="hidden" id="serverToken" value="{{ token }}">
            <input type="hidden" id="loadHistory" value="{{ 'true' if load_history else 'false' }}">
        </div>

        <h1 id="name"><a id="name-a" href="{{ url_for('index') }}">ByChat</a></h1>
        <button id="showButton" class="show-button" style="display:none;"><span class="material-symbols-outlined">
                arrow_forward_ios</span></button>
        <div id="merhaba">
            <p id="privet">Hello {{ user.first_name }},<br> what would you like to learn today?</p>
            <div id="sorular">
                <a class="soru" href="#option1">Personal Development</a>
                <a class="soru" href="#option2">About the Future</a>
                <a class="soru" href="#option3">Daily</a>
                <a class="soru" href="#option4">Technologies</a>
            </div>
        </div>
        <div id="chat-container">
            <div id="input-div">
                <textarea type="text" id="user-input" placeholder="Type your message..."
                    onkeypress="handleKeyPress(event)"></textarea>
                <button id="send-btn" onclick="sendMessage()"><span
                        class="material-symbols-outlined">send</span></button>
            </div>
            <nav id="help">
                ?
                <div class="help-box">
                    <a target="_blank" href="{{ url_for('user_agreement') }}">User Agreement</a>
                    <a target="_blank" href="{{ url_for('terms_of_service') }}">Terms of Service</a>
                    <a target="_blank" href="{{ url_for('help_page') }}">Help</a>
                    <a target="_blank" href="{{ url_for('release_notes') }}">Release Notes</a>
                </div>
            </nav>
            <div id="sslm">
                <p id="sslm-p">Verify the information provided by ByChat carefully, as it may be incorrect.</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>